.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 6%;
    background: #0C0C0C;
    gap: 4rem;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div1>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: Syncopate;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.div1>:nth-child(2){
    color: #FF5656;
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.head{
    color: #FFF;
/* font-family: Syncopate; */
font-family: Syncopate;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.desc{
    color: #B3B3B3;
font-family: 'Nunito';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
}
.left3{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.registerbtn{
    display: inline-flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
background: #FF5656;
border: 1px solid #FF5656;
color: #FFF;
font-size: 18px;
font-family: Nunito;
}
.viewdetailsbtn{
    display: inline-flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
border: 1px solid #FF5656;
color: #FF5656;
font-size: 18px;
font-family: Nunito;
background:transparent;
}
.left3>a{
    text-decoration: none;
    
}
.registerbtn:hover{
    background:transparent;
    color: #FF5656;
    cursor: pointer;
}
.viewdetailsbtn:hover{
    cursor: pointer;
    color:#FFF;
    background: #FF5656;
}
.right{
    width: 50%;
   
}
.p2right{
    width: 50%;
    margin-left: -5rem;
}
.p2right>img{
    width: 80%;
}
.right>img{
    width: 80%;
}
.p2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width:768px){
    .container{
        padding: 16% 6%;
    }
    .div1>:nth-child(1){
  font-size: 18px;
    }
    .div1>:nth-child(2){
 font-size: 16px;
    }
    .p1{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    .left{
        width: 88%;
        gap: 1rem;
    }
    .desc{
        line-height: 24px;
    }
    .right{
        width: 100%;
    }
    .p2{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    .p2right{
        width: 100%;
    }
    .head{
        font-size: 16px;
    }
    .desc{
        font-size: 12px;
    }
    .registerbtn{
        display: flex;
height: 30px;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 10px;
font-size: 14px;
    }
    .viewdetailsbtn{
        font-size: 14px;
        display: flex;
height: 30px;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 10px;
    }
}