.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 6%;
    padding: 6% 6%;
    background: #0C0C0C;
    gap: 4rem;
}
.div1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div1>:nth-child(1){
    color: #FFF;
text-align: center;
font-family: Syncopate;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.div1>:nth-child(2){
    color: #FF5656;
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wrap1{
    height: 100vh;
}
.p1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    max-width: 1440px;
}
.left{
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.head{
    color: #FFF;
/* font-family: Syncopate; */
font-family: Syncopate;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.desc{
    color: #B3B3B3;
font-family: 'Nunito';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
}
.left3{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.registerbtn{
    display: inline-flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
background: #FF5656;
border: 1px solid #FF5656;
color: #FFF;
font-size: 18px;
font-family: Nunito;
}
.viewdetailsbtn{
    display: inline-flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
border: 1px solid #FF5656;
color: #FF5656;
font-size: 18px;
font-family: Nunito;
background:transparent;
}
.downloadbtn{
    display: flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #FF5656;
border: none;
color: rgba(255, 255, 255, 0.20);
text-align: center;
font-family: Nunito;
font-size: 18px;

cursor: pointer;
position: relative;
}
.hoverdiv{
    position: relative;
    /* width: 50%; */
   
}
.hovertext{
    position: absolute;
    visibility: hidden;
    top: 3.2rem;
    left: -11%;
  /* top: 4rem; */
    /* height: 70px;
    width: 130px; */
  font-family: Nunito;
  font-size: 16px;
    color: #000;
    font-weight: 500;
  
    display: inline-flex;
padding: 6px 10px;
align-items: flex-start;
gap: 10px;
border-radius: 3px;
background: rgba(255, 255, 255, 0.80);
width: 120%;


}
.hovertext::before{
    content: "";
    position: absolute;
}
.hoverdiv:hover .hovertext{
    visibility: visible;
}
.left3>a{
    text-decoration: none;
    
}
.registerbtn:hover{
 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #FF5656;

    cursor: pointer;
}
.viewdetailsbtn:hover{
    cursor: pointer;

 
border: 1px solid #FF5656;
background: rgba(255, 86, 86, 0.10);
}
.right{
    width: 50%;
   
}
.p2right{
    width: 50%;
    /* margin-left: -5rem; */
}
.p2right>img{
    width: 100%;
}
.right>img{
    /* width: 80%; */
    width: 100%;
}
.p2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    height: 100vh;

}
.p3{
    height: 100vh;
}

@media screen and (max-width:768px){
    .container{
        padding: 16% 6%;
    }
    .div1>:nth-child(1){
  font-size: 18px;
    }
    .div1>:nth-child(2){
 font-size: 16px;
    }
    .wrap1{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        height: auto;
    }
    .p1{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        justify-content: center;
        height: auto;
    }
    .left{
        width: 100%;
        gap: 1rem;
        align-items: center;
    }
    .left2{
       text-align: center;
    }
    .desc{
        line-height: 24px;
    }
    .right{
        width: 100%;
    }
    .p2{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        align-items: baseline;
        justify-content: center;
        height: auto;
    }
    .p2right{
        width: 100%;
    }
    .head{
        font-size: 16px;
    }
    .desc{
        font-size: 12px;
    }
    .registerbtn{
        display: flex;
height: 30px;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 10px;
font-size: 14px;
    }
    .downloadbtn{
        display: inline-flex;
height: 31px;
padding: 6px 18px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
font-size: 14px;
}
.hovertext{
    font-size: 12px;
    top:2.2rem;
}
    .viewdetailsbtn{
        font-size: 14px;
        display: flex;
height: 30px;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 10px;
    }
}