.container {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #1d1d1d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 6%;
  background: #0c0c0c;
  z-index: 10;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.mlogo {
  width: 115px;
}
.productset > a {
  list-style: none;
  color: var(--logo-color-1, #b3b3b3);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.productset > img {
  width: 18px;
}
.productset > img:hover {
  cursor: pointer;
}
.ulist > a {
  list-style: none;
  color: var(--logo-color-1, #b3b3b3);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.ulist > a:hover {
  background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pdt:hover {
  background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.productset:hover > li {
  background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ulist {
  display: flex;
  gap: 2rem;
  width: 100%;
  position: relative;
}
.productsublist {
  position: absolute;
  right: 20%;
  top: 200%;
  background-color: black;
  padding: 2% 4%;
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.productsublistdiv > a {
  color: #ccc;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  text-decoration: none;
}
.productsublist > a:hover {
  color: #fff;
}
.productset {
  display: flex;
  gap: 0.4rem;
}
.ulist > a {
  position: relative;
}
.productset {
  position: relative;

}
.textsvg{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.textsvg:hover{
    background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textsvg:hover svg path{
    stroke: rgb(233, 16, 16);
    /* stroke-width: 0.4px; */
    fill: rgb(224, 11, 11);
}


@media screen and (max-width: 768px) {
  .container {
    height: 48px;
  }
  .mlogo {
    width: 80px;
  }

  .new {
    
    position: fixed;
    top: -26px;
    left: 0%;
    display: block;

    min-height: 1000vh;
    width: 100%;
    background: #000000;

    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 999;
    align-items: left;
    text-align: left;
    gap: 2rem;

    backdrop-filter: blur(5px);
    animation-name: move;
    animation-delay: 0s;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
  @keyframes move {
    from {
      left: 600px;
      top: -33px;
    }
    to {
      left: 0px;
      top: -33px;
    }
  }

  .new {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .n1 {
    display: flex;
    justify-content: space-between;
  }
  .close {
    width: 16px;
    height: 16px;
  }
  .ulist {
    display: flex;
    flex-direction: column;
    color: aqua;
    gap: 1rem;
  }
  .sw {
    color: aqua;
  }
  .main {
    width: 200px;
    background-color: rgb(20, 20, 20);
  }
  .productsublist {
    position: static;
    align-items: flex-start;
  }
}
