
  /* @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap'); */
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Syncopate&display=swap');


body {
  margin: 0 ;
  background: #090909;
  color: yellowgreen;
  font-family: 'Nunito', sans-serif;
  font-family: 'Syncopate', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}



.not{
  background-color: aqua;
}
.active svg path{
  stroke: rgb(185, 22, 22);
  stroke-width: 0.4px;
  fill: rgb(224, 11, 11);
}
.active{
  display: flex;
  position: relative; /* Make it a positioning context */
   /* Default text color */
  text-decoration: none; /* Remove the default underline */
  background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Add padding or margin as needed */
 /* Adjust spacing between links */
}

/* Style for the underline when the link is active */
.active.active::after {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  bottom: -10px; /* Place it at the bottom */
  left: 21px; /* Align it with the link */
  width: 15px; /* Make it span the width of the link */
  height: 3px;
  border-radius: 6px; /* Define the thickness of the underline */

  background: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
  color: radial-gradient(44% 44% at 50% 50.67%, #ff221b 0%, #bb0006 100%);
}