.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 8% 6%;
}
.div1>:nth-child(1){
    color: #FF5656;
    font-family: Syncopate;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div2>:nth-child(1){
    color: #B3B3B3;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
}
.div3>:nth-child(1){
    color: #999;
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.downloadbtn{
    display: flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #FF5656;
border: none;
color: rgba(255, 255, 255, 0.20);
text-align: center;
font-family: Nunito;
font-size: 18px;
cursor: pointer;
position: relative;
}
.div4{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;justify-content: center;
}
.hovertext{
    position: absolute;
    margin-top: 5rem;
    visibility: hidden;
  /* top: 4rem; */
    /* height: 70px;
    width: 130px; */
  font-family: Nunito;
    color: #000;
    font-weight: 500;
    z-index: 2;
    display: inline-flex;
padding: 6px 10px;
align-items: flex-start;
gap: 10px;
border-radius: 3px;
background: rgba(255, 255, 255, 0.80);


}
.hovertext::before{
    content: "";
    position: absolute;
}
.div4:hover .hovertext{
    visibility: visible;
}
.div5>img{
    width: 50%;
}
.bottomcontact{
    background: #090909;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6% 20%;
    align-items: center;
    justify-content: center;
    
}
.bottomcontact>:nth-child(1){
    color: #999;
text-align: center;
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.contactbtn{
    display: flex;
padding: 8px 24px;
align-items: flex-start;
gap: 10px;
border-radius: 41px;
border: 1px solid #FF5656;
color: #FF5656;
background: transparent;
}

@media screen and (max-width:768px){
    .container{
        padding: 16% 6%;
        gap: 1rem;
    }
    .div1>:nth-child(1){
        font-size: 16px;
    }
    .div2>:nth-child(1){
        font-size: 14px;
    }
    .div3>:nth-child(1){
        font-size: 12px;
    }
    .downloadbtn{
        display: inline-flex;
height: 31px;
padding: 6px 18px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
font-size: 14px;
}
.hovertext{
    font-size: 12px;
    margin-top: 4rem;
}
.div5{
    margin-top: 1rem;
}
.div5>img{
    width: 80%;
}
}